@model Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/admin.css">
}

<h2 class="text-center my-5">Редагувати страву</h2>

<form asp-action="Edit" asp-controller="Admin" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name" class="form-label">Назва</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="form-label">Опис (склад)</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Weight" class="form-label">Вага (г)</label>
        <input asp-for="Weight" class="form-control" />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="form-label">Ціна</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImagePath" class="form-label">Зображення</label>
        <input asp-for="ImagePath" class="form-control" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a href="@Url.Action("AdminPanel", "Admin")" class="btn btn-secondary">Назад</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
